.side:hover
{
    background-color: black;
}
.top:hover
{
    background-color: rgb(53, 51, 51);
}
h1,h2,h3, .centered_head{
    text-align: center;
}
.tom_list_item:hover{
    background-color: aliceblue;
}
.bord:hover{
    border: solid 2px white;
}
.drk:hover{
    border: solid 2px black;    
}