{%extends base_temp %}
{% block content %}
    <h2 class="card-title">change password</h2>
        <form enctype="multipart/form-data" method="POST">
		{% csrf_token %}
		{% for field in form%}
		<p>
		  {{ field.label_tag }}<br>
		  {{ field }}
		  {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
		  {% for error in field.errors %}
			<p style="color: red">{{ error }}</p>
		  {% endfor %}
		</p>
	  {% endfor %}
			  <input type = "submit" value="submit" class="btn btn-primary" />
        </form>
{%endblock%}