{% extends base_temp%}
{% block title %}staff registration{% endblock %}
{%block content%}
<div  class="form-group"><h2>{%if head%} {{head}} {%else%} New Staff {%endif%}</h2>
  {%if su_msg%}
  <div class="alert-success" style="font-size: larger;padding: 2%;text-align: center;">
    <hr>
    {{su_msg}}
  </div>
  {%endif%}
  {%if wa_msg%}
  <div class="alert-warning" style="font-size: larger;padding: 2%;text-align: center;">
    <hr>
    {{wa_msg}}
  </div>
  {%endif%}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
	{{familymembers}}
    {% for field in form%}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}

    {% for field in sub_form%}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}


    {% for field in sub_form_addr %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
	<div id='a'></div>
</br>
    <button type="submit" class="btn-primary"> proceed</button>
  </form>
</div>

  {%endblock%}