{% extends 'Hospital/EBase.html' %}
{%block title%}
statistics
{%endblock%}
{%block content%}
<h3 class="centered_head">statistics - department of {{department}}</h3>
<br/>
<form method="GET">
    {%csrf_token%}
    <select name="years" class="custom-select" onchange="this.form.submit()">
        {%if key%}
        <option value={{key.0}}>
            showing past {{key.1}} years
        </option>
        {%else%}
        <option value="0">
            select the number of years
        </option>
        {%endif%}
        <option value="9">
            current year
        </option>
        <option value="99">
            last year
        </option>
        <option value="1">
            past 5 years
        </option>
        <option value="2">
            past 10 years
        </option>
        <option value="3">
            past 15 years
        </option>
        <option value="4">
            past 20 years
        </option>
        <option value="0">
            all years
        </option>
    </select>
</form>
<br/><br/>
<div class="row">
    <div class="col-lg-6">
        <br>
    </div>
    <div class="col-lg-6">
        <table class="table table-hover">
            <tr>
                <th colspan="2">
                    patient turn over time
                </th>
            </tr>
            <tr>
                <th>
                    {%if monthly%}
                    {{monthly}}
                    {%else%}
                    year
                    {%endif%}
                </th>
                <th>
                    total cases
                </th>
            </tr>
            {%for case in cases%}
            <tr>
                <td>
                    {{case.0}}
                </td>
                <td>
                    {{case.1}}
                </td>
            </tr>
            {%endfor%}
            <tr>
                <td>
                    total
                </td>
                <td>
                    {{total_cases}}
                </td>
            </tr>
        </table>
    </div>
</div>
<br/>
<hr>
<br/>
<div class="row">
    <div class="col-lg-6">
        <br>
    </div>
    <div class="col-lg-6">
        <table class="table table-hover">
            <tr>
                <th colspan="2">
                    complaints
                </th>
            </tr>
            <tr>
                <th>
                    {%if monthly%}
                    {{monthly}}
                    {%else%}
                    year
                    {%endif%}
                </th>
                <th>
                    complaints
                </th>
                <th>
                    feedbacks
                </th>
            </tr>
            {%for complaint in complaints%}
            <tr>
                <td>
                    {{complaint.0}}
                </td>
                <td>
                    {{complaint.1}}
                </td>
                <td>
                    {{complaint.2}}
                </td>
            </tr>
            {%endfor%}
            <tr>
                <td>
                    total
                </td>
                <td>
                    {{total_complaints.0}}
                </td>
                <td>
                    {{total_complaints.1}}
                </td>
            </tr>
            <tr>
                <td colspan="3" style="background-color: rgba(255, 255, 255, .5);">
                    <a href="{% url 'M_DepartmentalComplaints' department.id%}">see complaints</a>
                </td>
            </tr>
        </table>
    </div>
</div>
{%endblock%}