{% extends 'Hospital/EBase.html' %}
{%block content%}
<div class="row">
    <div class="col-lg-6">
        nothing
    </div>
    <div class="col-lg-6">
        <table>
            <tr>
                <th>
                    patient turn per year
                </th>
            </tr>
            <tr>
                <th>
                    year
                </th>
                <th>
                    total cases
                </th>
            </tr>
        </table>
    </div>
</div>
{%endblock%}